<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<listeners>
		<listener class-name="TestCases.Listener" />
	</listeners>
	<test name="HomePage Validate Featured Course Text">
		<classes>
			<class name="TestCases.HomePageTest" />
		</classes>
	</test>
	<test name="Validate Login Credentials">
		<classes>

			<class name="TestCases.LoginPageTest" />
		</classes>
	</test> 
</suite> <!-- Suite -->
